---
layout: default
title: archive
---
{% assign year = '' %}
{% assign month = '' %}
{% for post in site.posts %}
  {% capture tmpYear %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture tmpMonth %}{{ post.date | date: "%B" }}{% endcapture %}
  {% if year != tmpYear %}
    {% assign year = tmpYear %}
    {% assign month = tmpMonth %}
    <h1>{{ year }}</h1>
    <h2>{{ month }}</h2>
  {% elsif month != tmpMonth %}
    {% assign month = tmpMonth %}
    <h2>{{ month }}</h2>
  {% endif %}
  {{ post.date | date: "%d" }} - <a href="{{ post.url }}">{{ post.title }}</a> <br>
{% endfor %}
